<mat-toolbar class="toolbar">
  <div class="toolbar-container">
    <div class="toolbar-logo">
      <img
        src="https://i.imgur.com/rZfecyh.jpeg"
        alt="ParkingIt Logo"
        width="128"
        height="60">
      <span>ParkingIt</span>
    </div>

    <div class="toolbar-user">
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu" class="user-dropdown">
        <div class="dropdown-header" (click)="$event.stopPropagation()">
          <p class="user-name">{{ userFirstName + " " + userLastName }}</p>
          <p class="user-email">{{ userEmail }}</p>
        </div>
        <button mat-menu-item (click)="logout()" class="logout-button">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
